$dot-color: white;
$center_mass_size: 25px;
$background-color: #03678D;
$small-dot-color: rgba($background-color, 0.6);
$speed: 1s;

$double-speed: $speed * 2;

@keyframes bg {
  from {background-color: darken($background-color, 5%);}
  
}
.bound {
  width: 700px;
  border: solid 1px black;
  position: absolute;
  aspect-ratio: 1 / 1;
  display: none;
}

body, html {
  height: 100%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
	background-color: $background-color;
	background-image: 
    radial-gradient(circle at top, rgba(black, 0), rgba(black, .6)), 
    linear-gradient(0deg, rgba(black, .5), rgba(black, 0));
  animation: $double-speed bg ease infinite alternate;
	.main_spinner{
		animation: $double-speed spin linear infinite;
		width: 150px;

		.dot{
			animation: $speed backspin linear infinite;
			position: absolute;
      $size: 50px;
      $distance: 112px;
			box-shadow: 
        0 $distance $dot-color, 
        0 -1 * $distance $dot-color, 
       $distance 0 $dot-color, 
        -1 * $distance 0 $dot-color;
			border-radius: 100px;
			height: $size;
			width: $size;
		}
		.dot_1 {
			left: 0;
		}
		.dot_2 {
			right: 0;
		}
		.center_mass{
			position: absolute;
			width: $center_mass_size;
			height: $center_mass_size;
			left: 50%;
			top: 50%;
			margin-top: ($center_mass_size * -0.5);
			margin-left: ($center_mass_size * -0.5);
			background: $small-dot-color;
			border-radius: $center_mass_size;
			box-shadow: 
        100px 0 $small-dot-color, 
        -100px 0 $small-dot-color;

		}
	}
}

@-webkit-keyframes spin {
	0% { 
    -webkit-transform: 
      rotate(0deg) 
      scale(1);
  }
	50% { 
    -webkit-transform: 
      rotate(180deg) 
      scale(0.9);
  }
	100% { 
    -webkit-transform: 
      rotate(360deg) 
      scale(1);
  }

}
@-webkit-keyframes backspin {
	0% { 
    -webkit-transform: 
      rotate(0deg) 
      scale(1);
  }
	50% { 
    -webkit-transform: 
      rotate(-180deg) 
      scale(0.9);
  }
	100% { 
    -webkit-transform: 
      rotate(-360deg) 
      scale(1);
  }

}```